.gitignore
.vscode
.dockerignore
.mypy_cache
requirements.txt
todo
/sndbx
/media
/src/backend/downloader_app/bb.py
/src/testpyro
/src/backend/__pycache__
/src/backend/downloader_app/__pycache__
/src/backend/media
/src/bot/__pycache__
/src/bot/handlers/__pycache__

